# Dependencies
node_modules/
/venv/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Operating System Files
.DS_Store # macOS
Thumbs.db # Windows

.code-workspace